.portfolio-img {
    position: relative;    
    width: 100%;
}

.text-box {
    position: absolute;
    bottom: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 5%;
    color: white;
    /* Text-box's width is 100% of the image's width */
    width: 100%;
}